<!-- <header>Page Header</header> -->
<nav class="navbar navbar-expand-lg navStyle">
  <%if(locals.user){%>
  <a
    class="navbar-brand mb-2 mb-lg-0"
    style="color: black"
    href="/users/profile/<%=u.id%>"
    ><%= user.name%></a
  >
  <%}else{%>
  <a class="navbar-brand" href="/">Blogs</a>
  <%}%>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#mainMenu">
    <span><i class="fas fa-align-right iconStyle"></i></span>
  </button>
  <div class="collapse navbar-collapse" id="mainMenu">
    <ul class="navbar-nav ml-auto navList">
      <%if(locals.user){%>
      <li class="nav-item">
        <a href="/" class="nav-link">Home<i class="fas fa-home"></i></a>
      </li>
      <li class="nav-item">
        <a href="/posts/newBlog" class="nav-link"
          >Create-New<i class="fas fa-file-alt"></i
        ></a>
      </li>

      <li class="nav-item">
        <a href="/users/profile/<%=u.id%>" class="nav-link"
          >Profile<i class="fas fa-address-card"></i
        ></a>
      </li>
      <li class="nav-item">
        <a href="/users/sign-out" class="nav-link"
          >Sign-out<i class="fas fa-sign-out-alt"></i
        ></a>
      </li>

      <%}else{%>
      <li class="nav-item">
        <a href="/users/sign-in" class="nav-link"
          >Sign-in<i class="fas fa-sign-in-alt"></i
        ></a>
      </li>
      <li class="nav-item">
        <a href="/users/sign-up" class="nav-link">
          Sign-up<i class="fas fa-user-plus"></i
        ></a>
      </li>
    </ul>
    <%}%>
  </div>
</nav>
