<h1>Codeial / <%= title %></h1>

<section id="feed-posts">
  <h4>Posts</h4>
  <div id="posts-list-container">
    <ul>
      <% for(post of posts){ %> <%-include('_post')-%> <%} %>
    </ul>
  </div>
  <% if(locals.user){ %>
  <form action="/posts/create" id="new-post-form" method="POST">
    <input type="text" name="title" placeholder="Title" required />
    <select name="category" required>
      <option selected disabled value="">Choose From the Following</option>
      <option>DIY</option>
      <option>Fashion</option>
      <option>Finance</option>
      <option>Fitness</option>
      <option>Food</option>
      <option>Lifestyle</option>
      <option>Music</option>
      <option>Parenting</option>
      <option>Personal</option>
      <option>Politics</option>
      <option>Sports</option>
      <option>Technology</option>
      <option>Travel</option>
    </select>
    <textarea
      name="content"
      cols="30"
      rows="3"
      placeholder="Type Here..."
      required
    ></textarea>
    <input type="submit" value="Post" />
  </form>
  <% } %>
</section>

<section>
  <h4>Friends</h4>
  <% for(u of all_users){%>
  <p><a href="/users/profile/<%=u.id%>"><%=u.name%></a></p>
  <%}%>
</section>
