<div
  class="container-fluid "
  style="height: 86%; overflow-y: scroll; background-color: #031c2b;
  "
>
  <div class="row text-light">
    <div class="col-sm-8" id="feed-posts">
      <div class="m-3 font-italic"><h2>Explore Some Titles...</h2></div>
      <div
        id="posts-list-container "
        class="d-flex justify-content-center"
        style="width: 80%"
      >
        <ul>
          <% for(post of posts){ %> <%-include('_post')-%> <%} %>
        </ul>
      </div>
    </div>

    <div class="col-sm-4 border-left border-info"" id="users-posts ">
      <h4>Users</h4>
      <br />
      <% for(u of all_users){%>
      <p style="text-decoration: none">
        <a href="/users/profile/<%=u.id%>" aria-hidden="true" style="color:#00cc6a"><%=u.name%></a>
      </p>
      <%}%>
    </div>
  </div>
</div>
